<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" >
<title>Listar Estado</title>
</head>
<body>
<div id="main" class="container-fluid">
 <h3 class="page-header">Listar Estados</h3>
</div>
<div id="list" class="row">
 
    <div class="table-responsive col-md-12">
        <table class="table table-striped" cellspacing="0" cellpadding="0">
		 	<thead>
		 		<tr>
		 			<th>ID</th>
		 			<th>Nome</th>
		 			<th>Sigla</th>
		 			<th></th>
		 		</tr>
		 	</thead>
		<tbody>
 		<tr th:each="estado : ${estado}">
 			<td th:text="${estado.id}"></td>
 			<td th:text="${estado.nome}"></td>
 			<br>
 			<td th:text="${estado.sigla}"></td>
 			<td>
 			<a class="btn btn-warning btn-xs" th:href="@{/editarEstado/{id}(id=${estado.id})}">Editar</a>
 			<a class="btn btn-danger btn-xs" th:href="@{/removerEstado/{id}(id=${estado.id})}">Remover</a>
 			</td>
 		</tr>
 		</tbody>
 		</table>
 	</div>
 </div>
 <div class="form-group">
	<div class="col-md-2">
 		<a class="form-control input-md btn btn-primary" href="/adicionarEstado">Adicionar</a>
 	</div>
</div>
</body>
</html>